.details{
    background-color: white;
    width:310px;
    height: auto;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 450px;
    padding: 15px;
    padding-left: 20px;
}

.image-details img{
    height: 300px;
    width: 300px;
}
